<div class="content-wrapper">
  <div class="row">
    <div class="col-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><b><u>Add Accounting Fee Type</u></b></h1>
          <p class="card-description">
          <a href="#"><button class="btn btn-inverse-dark btn-fw">Fees Type List</button></a>
          </p>
          
          <form class="forms-sample" id="form_section" method="post" action="<%= appName %>/admin/add_fee_type">
            <div class="form-group row">
              <!-- onchange="get_student_by_class(this.value)" -->
              <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Class Name</label>
              <div class="col-sm-4">
               <select class="form-control"  name="class_id" >
               	<option value="">Select Class</option>
               	<%  class_list.forEach(function(class_list){ %>
				          <option value="<%= class_list.class_id  %>" <% if(fee_data.class_id==class_list.class_id) { %> selected="selected" <% } %> ><%= class_list.class_name; %></option>
               	<%   }) %>
               </select>
               <span for="class_id"  class="error below" style="display: none"></span>
              </div>
              <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Fees Name</label>
              <div class="col-sm-4">
               <input type="hidden" name="fee_type_id" <% if(fee_data.fee_type_id){%> value="<%= fee_data.fee_type_id%>"<% }  %>>
               <input type="text" name="fee_type" id="fee_type" required="required" class="form-control" placeholder="Enter Fee Type" <% if(fee_data.fee_type){%> value="<%= fee_data.fee_type%>"<% }  %> >
               <span for="fee_type"  class="error below" style="display: none"></span>
              </div>
            </div>
            <div class="col-sm-12" align="center">
              
              <button type="submit" class="btn btn-success mr-2">Submit</button>
              <button class="btn btn-light">Cancel</button>
            </div>
          </form>
          <br><br>
          <% if(fees_type!=''){ %>
          <div class="table-responsive">
              <table class="table table-bordered datatable" >
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Class name
                    </th>
                    <th>
                      Fees Type Name
                    </th>
                    <th>
                      Action
                    </th>
                    
                  </tr>
                </thead>
                <tbody>
                <%  var i=1; fees_type.forEach(function(fees_type){ %>
                  <tr id="tr_<%= i %>">
                    <td >

                      <%= i %>
                    </td>
                    <td>
                      <%= fees_type.class_name %>
                    </td>
                    <td>
                      <%= fees_type.fee_type %>
                    </td>
                    
                    <td>
                     <a href="<%= appName %>/admin/accounting_fee_type/?id=<%= fees_type.fee_type_id %>">

                      <button type="button" class="btn btn-dark btn-fw">
                                  <i class="mdi mdi-cloud-download"></i>Edit
                                  </button>
                                 </a>
                                 
                                 <a href="#"  onclick="delete_record('<%= fees_type.fee_type_id %>','<%= i %>','tbl_fee_type','fee_type_id')" class="btn btn-sm btn-danger">Delete</a>

                                 </td>

                    
                  </tr>
                <% i++; })%>
                </tbody>
              </table>
          </div>
          <% } %>
          
        </div>
      </div>
    </div>
  </div>
</div>