<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title"><b><u>Accountant List</u></b></h2>
			<p class="card-description">
				<a href="<%= appName %>/admin/Registration"><button class="btn btn-inverse-dark btn-fw">Add Accountant</button></a>
				
			</p>
			<div class="table-responsive">
				<table class="table table-bordered" id="myTable">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Accountant Name
							</th>
							<th>
								Gender
							</th>
							<th>
								Email
							</th>
							<th>
								Phone
							</th>
							<th>
								Action
							</th>
							
						</tr>
					</thead>
					<tbody>
						<%  var i=1; accountant_list.forEach(function(accountant_list){ %>
						<tr id="tr_<%= i %>">
							<td>
								<%= i %>
							</td>
							<td>
								<%= accountant_list.name %>
							</td>
							<td>
								<%= accountant_list.sex %>
							</td>
							
							<td>
								<%= accountant_list.email %>
							</td>
							<td>
								<%= accountant_list.phone %>
							</td>
							<td>
							 <a href="<%= appName %>/admin/accountantDetail/?registration_id=<%= accountant_list.registration_id %>">

								<button type="button" class="btn btn-dark btn-fw">
                         	 	<i class="mdi mdi-cloud-download"></i>Edit
                         	 	</button>
                         	 </a>
                         	 <a href="#">

                         	<a href="#"  onclick="delete_record('<%= accountant_list.registration_id %>','<%= i %>','tbl_registration','registration_id')" class="btn btn-sm btn-danger">Delete</a>

                         	 </a>
							</td>
						</tr>
						<% i++; })%>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>