<div class="content-wrapper">

	   
	
	<div class="row">
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
			<div class="card card-statistics">
				<a href="<%= appName %>/admin/studentList">
				<div class="card-body">
					<div class="clearfix">
						<div class="float-left">
							<i class="mdi mdi-account text-danger icon-lg"></i>
						</div>
						<div class="float-right">
							<p class="mb-0 text-right"> Student</p>
							<div class="fluid-container">
								<h3 class="font-weight-medium text-right mb-0"><%= student_count %></h3>
							</div>
						</div>
					</div>
					<p class="text-muted mt-3 mb-0">
						<i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Total Student
					</p>
				</div>
				</a>
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
		    
			<div class="card card-statistics">
				<a href="<%= appName %>/admin/TeacherList">
				<div class="card-body">
					<div class="clearfix">
						
						<div class="float-left">
							<i class="mdi mdi-library-books text-warning icon-lg"></i>
						</div>
						<div class="float-right">
							<p class="mb-0 text-right"> Teacher</p>
							<div class="fluid-container">
								<h3 class="font-weight-medium text-right mb-0"><%= teacher_count %></h3>
							</div>
						</div>
						
					</div>
					<p class="text-muted mt-3 mb-0">
						<i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Total Teacher
					</p>
				</div>
				</a>
			</div>
			
		</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
			<div class="card card-statistics">
				<div class="card-body">
					<div class="clearfix">
						<div class="float-left">
							<i class="mdi mdi-account-multiple text-success icon-lg"></i>
						</div>
						<div class="float-right">
							<p class="mb-0 text-right"> Parents</p>
							<div class="fluid-container">
								<h3 class="font-weight-medium text-right mb-0"><%= parent_count %></h3>
							</div>
						</div>
					</div>
					<p class="text-muted mt-3 mb-0">
						<i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Total Parents
					</p>
				</div>
			</div>
		</div>
		<div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 grid-margin stretch-card">
			<div class="card card-statistics">
				<div class="card-body">
					<div class="clearfix">
						<div class="float-left">
							<i class="mdi mdi-file-document-box text-info icon-lg"></i>
						</div>
						<div class="float-right">
							<p class="mb-0 text-right">Attendence</p>
							<div class="fluid-container">
								<h3 class="font-weight-medium text-right mb-0"><%= attendence_count %></h3>
							</div>
						</div>
					</div>
					<p class="text-muted mt-3 mb-0">
						<i class="mdi mdi-reload mr-1" aria-hidden="true"></i> Total present student today
					</p>
				</div>
			</div>
		</div>
	</div>
</div>