<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title"><b><u>Exam List</u></b></h2>
			<p class="card-description">
				<a href="<%= appName %>/admin/exam"><button class="btn btn-inverse-dark btn-fw">Add Exam</button></a>
				
			</p>
			 <% if(exam_list!=''){ %>
       	<div class="table-responsive">
				<table class="table table-bordered" id="myTable">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Class Name
							</th>
							<th>
								Subject Name
							</th>
							<th>
								Exam Name
							</th>
							<th>
								Action
							</th>
							
						</tr>
					</thead>
					<tbody>
					<%  var i=1; exam_list.forEach(function(exam_list){ %>
						<tr id="tr_<%= i %>">
							<td >

								<%= i %>
							</td>
							<td>
								<%= exam_list.class_name %>
							</td>
							<td>
								<%= exam_list.section_name %>
							</td>
							<th>
								<%= exam_list.exam_name %>
							</th>
							<td>
							 <a href="#">

								<button type="button" class="btn btn-dark btn-fw">
                         	 	<i class="mdi mdi-cloud-download"></i>Edit
                         	 	</button>
                         	 </a>
                         	 
                         	 <a href="#"  onclick="#" class="btn btn-sm btn-danger">Delete</a>

                         	 </td>

							
						</tr>
					<% i++; })%>
					</tbody>
				</table>
		</div>

       <% } %>
		</div>
	</div>
</div>
