<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title"><b><u>Exam Grades List</u></b></h2>
			<p class="card-description">
				<a href="<%= appName %>/admin/exam_grades"><button class="btn btn-inverse-dark btn-fw">Add Exam Grades</button></a>
				
			</p>
			<% if(exam_grades!=''){ %>
                <div class="table-responsive">
                  <table class="table table-bordered" id="myTable">
                    <thead>
                      <tr>
                        <th>
                          #
                        </th>

                        <th>
                          Class
                        </th>

                        <th>
                          Name
                        </th>
                        <th>
                          Mark From
                        </th>
                        <th>
                          Mark UpTo
                        </th>
                        <th>
                          Comment
                        </th>
                        <th>
                          Action
                        </th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <%  var i=1; exam_grades.forEach(function(exam_grades){ %>

                      <tr id="tr_<%= i  %>">

                        <td>
                          <%= i %>
                        </td>
                        <td>

                          <%= exam_grades.class_name %>
                        </td>
                        <td>
                          <%= exam_grades.name %>
                        </td>
                        <td>
                          <%= exam_grades.mark_from %>
                        </td>
                        
                        <td>
                          <%= exam_grades.mark_upto %>
                        </td>
                        <td>
                          <%= exam_grades.comment %>
                        </td>
                        <td>

                            <a href="<%= appName %>/admin/exam_grades?grade_id=<%=exam_grades.grade_id%>">
                              <button type="button" class="btn btn-dark btn-fw"><i class="mdi mdi-cloud-download"></i>Edit</button>
                             </a>
                             <a href="#" onclick="delete_record('<%= exam_grades.exam_id %>','<%= i %>','tbl_exam_grades','grade_id')"><button type="button" class="btn btn-danger btn-fw"><i class="mdi mdi-alert-outline"></i>Delete</button>
                            </a>

                        </td>
                      </tr>
                      <% i++; })%>
                    </tbody>
                </table>
               </div>
              <% } %>
		</div>
	</div>
</div>
