 datatable<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title"><b><u>Fees Type List</u></b></h2>
			<p class="card-description">
				<a href="<%= appName %>/admin/accounting_term"><button class="btn btn-inverse-dark btn-fw">Add Fees Type</button></a>
				
			</p>
			 <% if(fees_term!=''){ %>
          <div class="table-responsive">
              <table class="table table-bordered datatable" >
                <thead>
                  <tr>
                    <th>
                      #
                    </th>
                    <th>
                      Class name
                    </th>
                    <th>
                      Fees Term Name
                    </th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>
                      Action
                    </th>
                    
                  </tr>
                </thead>
                <tbody>
                <%  var i=1; fees_term.forEach(function(fees_type){ %>
                  <tr id="tr_<%= i %>">
                    <td >

                      <%= i %>
                    </td>
                    <td>
                      <%= fees_type.class_name %>
                    </td>
                    <td>
                      <%= fees_type.term_name %>
                    </td>
                    <td>
                      <%= fees_type.start_date %>
                    </td>
                    <td>
                      <%= fees_type.end_date %>
                    </td>
                    <td>
                     <a href="<%= appName %>/admin/accounting_term/?id=<%= fees_type.term_id %>">

                      <button type="button" class="btn btn-dark btn-fw">
                                  <i class="mdi mdi-cloud-download"></i>Edit
                                  </button>
                                 </a>
                                 
                                 <a href="#"  onclick="delete_record('<%= fees_type.term_id %>','<%= i %>','tbl_fees_term','term_id')" class="btn btn-sm btn-danger">Delete</a>

                                 </td>

                    
                  </tr>
                <% i++; })%>
                </tbody>
              </table>
          </div>
          <% } %>
		</div>
	</div>
</div>
