<div class="content-wrapper">
  <div class="row">
    <div class="col-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><b><u>Promote Student</u></b></h1>
          <!--<p class="card-description">
           <a href="<%= appName %>/admin/attendenceList"><button class="btn btn-inverse-dark btn-fw">Attendence List</button></a> 
          </p>-->

           <div class="container">
             
              <% if(success!=""){ %>
              <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong><%= success %> </strong>
                
              </div>
                
             <% 
            } %>
            <% if(error!=""){ %>
              
               <div class="alert alert-danger" id="danger-alert">

                
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong><%= error %> </strong>
                
              </div>
           <% }  %>
          </div>
          
          
          <form class="forms-sample" method="post" id="form_promotion" action="<%= appName %>/admin/promotion" enctype="multipart/form-data">
            
            <div id="attendence_student">
              <div class="form-group row">
              
                <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Class Name</label>
                <div class="col-sm-2">
                 <select class="form-control" id="class_id" name="class_id">
                 	<option value="">Select Class</option>
                 	<%  class_list.forEach(function(class_list){ %>
                  <option value="<%= class_list.class_id  %>"><%= class_list.class_name; %></option>
  				        
                 	<%   }) %>
                 

                 </select>
                </div>
                <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Section Name</label>
                <div class="col-sm-2">
                 <select class="form-control" name="section_id" id="section_id" onchange="getStudentforpromotion()" >
                   <option>Select Section</option>
                 </select>
                </div>
                
              </div>
              <br><br><br>
              
              <div  style="display: none;" id="attendenceTable">
                <div class="col-sm-12" align="center">
                  <span class="btn btn-primary" onclick="setStatus('<%= session_year.year %>')">Mark All Current Year</span>
                  <span class="btn btn-primary" onclick="setStatus('<%= session_year.nextyear %>')">Mark All Next Year</span>
                </div>
                <br><br>
                <div class="form-group row">
              
                <label for="exampleInputEmail2" class="col-sm-2 col-form-label">New Class</label>
                <div class="col-sm-2">
                 <select class="form-control" id="teacher_class_id" name="teacher_class_id">
                 
                  <option value="">Select Class</option>
                  <%  class_list.forEach(function(class_list){ %>
                  <option value="<%= class_list.class_id  %>"><%= class_list.class_name; %></option>
                  
                  <%   }) %>
                 </select>
                 <span for="teacher_class_id" class="error below" style="display: none"></span>
                </div>
                <label for="exampleInputPassword2" class="col-sm-2 col-form-label">New Section</label>
                <div class="col-sm-2">

                 <select class="form-control" name="teacher_section_id" id="teacher_section_id" onchange="getStudentforpromotion()" >
                   <option>Select Section</option>
                 </select>
                 <span for="teacher_section_id" class="error below" style="display: none"></span>
                </div>
                
              </div>
                <br>
                 
               <div class="form-group">
                <label for="exampleInputPassword2" class="col-sm-1 col-form-label">Check All</label>
                <div class="col-sm-1">
                  <input type="checkbox" name=""  id="checkAll"> 
                </div>
               </div>
                <table class="display responsive nowrap attendence" style="width: 100%" >

                  <thead>
                    <tr>
                      <th>
                        #
                      </th>
                       <th>
                         Admission Number
                      </th>
                      <th>
                         Name
                      </th>
                      
                      <th>
                        Promotion year
                      </th>

                      
                    </tr>

                  </thead>
                  <tbody>
                   
                  </tbody>
                </table>
              </div>
            </div>  
            <br>
            <button type="submit" class="btn btn-success mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>