<div class="content-wrapper">
  <div class="row">
    <div class="col-12 grid-margin">
      	<div class="card">
	        <div class="card-body">
	          <h2 class="card-title"><b><u>Exam</u></b></h2>
            <p class="card-description">
            <a href="<%= appName %>/admin/exam_list"><button class="btn btn-inverse-dark btn-fw">Exam List</button></a>
           </p>
     
      <div class="container">
             
              <% if(success!=""){ %>
              <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong><%= success %> </strong>
                
              </div>
                
             <% 
            } %>
            <% if(error!=""){ %>
              
               <div class="alert alert-danger" id="danger-alert">

                
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong><%= error %> </strong>
                
              </div>
           <% }  %>
          </div>
       
	        
       <form class="form-sample" id="form_sendmarkssms" method="Post" action="<%= appName %>/admin/sendmarks">       
            <div class="form-group row">
               
                  <div class="form-group row">
                        <label class="col-sm-2 col-form-label">Select Class</label>
                        <div class="col-sm-4">
                          <select  style="color: black" class="form-control" name="class_id" id="class_id" >
                            <option value="">Select Class</option>
                              <%  class_list.forEach(function(class_list){ %>
                              <option value="<%= class_list.class_id  %>"><%= class_list.class_name; %></option>
                              <%   }) %>
                            </select>
                            <span for="class_id"  class="error below" style="display: none"></span>
                        </div>
                        <label class="col-sm-2 col-form-label">Select Section</label>
                        <div class="col-sm-4">
                            <select  style="color: black" class="form-control" name="exam_section_id" id="exam_section_id" onchange="get_all_exam_data(this.value)">
                               <option value="">Select Section</option>                    
                             </select>
                             <span for="exam_section_id"  class="error below" style="display: none"></span>
                        </div>
                  </div>
                    
                  <div class="form-group row">

                      <label class="col-sm-2 col-form-label">Select Exam</label>
                      <div class="col-sm-4">
                          <select  style="color: black" class="form-control" name="exam_id" id="exam_id">
                            <option value="">Select Exam</option>                       
                          </select>
                          <span for="exam_id"  class="error below" style="display: none"></span>
                      </div>

                      <label class="col-sm-2 col-form-label">SMS Receiver</label>
                      <div class="col-sm-4">
                          <select  style="color: black" class="form-control" name="user_role" id="user_role">
                            <option value="">Select User Type</option> 
                            <option value="3">Student</option> 
                            <option value="2">Parent</option>                       
                          </select>
                          <span for="user_role"  class="error below" style="display: none"></span>
                      </div>


                  </div>
            </div>


                 
            <div class="col-sm-12" align="center">
                  <button type="submit" class="btn btn-success mr-2">Send</button>
                    
            </div>         
       </form>
       <div id="loader" style="display: none"><img src="/images/loader.gif"></div>
          
       </div>           
       </div>
    </div>
  </div>
</div>

 