 <div class="content-wrapper">

<div class="col-lg-12 grid-margin stretch-card">
 <div class="card">
	<div class="card-body">
   
     <form class="forms-sample" method="post" action="/addHomeWork" enctype="multipart/form-data">
     <div class="form-group row">
              <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Class Name</label>
              <div class="col-sm-2">
               <select class="form-control" id="class_id" name="class_id">
                <option value="">Select Class</option>
                <%  class_list.forEach(function(class_list){ %>

                <option <%if(studentdata.class_id == class_list.class_id){ %> selected <% } %> value="<%= class_list.class_id  %>"><%= class_list.class_name; %></option>
                
                <%   }) %>
               </select>
              </div>
               <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Section Name</label>
              <div class="col-sm-2">
               <select class="form-control" name="section_id" onchange="get_studentlist()" id="section_id_stop">
               	 <% if( section_list!=""){ %>
               	 <%  section_list.forEach(function(section_list){ %>
               	     <option <% if(studentdata.section_id == section_list.section_id){ %> selected <% } %> value="<%= section_list.section_id  %>"><%= section_list.section_name; %></option>
               	 <% });
               	  }else{ %>
                 <option>Select Section</option>
                 <% } %>
               </select>
              </div>
      </div>
 </form>
 <div id="loader" style="display: none"><img src="/images/loader.gif"></div>
	</div>
		<div class="card-body studenttable" style="display: none">
			<h2 class="card-title"><b><u>Student List</u></b></h2>
			<p class="card-description">
				<a href="<%= appName %>/admin/Registration"><button class="btn btn-inverse-dark btn-fw">Add Student</button></a>
				 
			</p>
			<div class="table-responsive">
				<table class="table table-bordered table-1 studentlistTable ">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Registration Number
							</th>
							<th>
								Student Name
							</th>
							<th>
								Class
							</th>
							<th>
								Section
							</th>
							<th>
								Parent Name
							</th>
							<th>
								Parent Phone
							</th>
							<th>
								Action
							</th>
							
						</tr>
					</thead>
					<tbody id="liststudent">
						<%if(student_list){%>

						  <%  var i=1; student_list.forEach(function(student_list){ %>
						<tr id="tr_<%= i %>">
							<td >

								<%= i %>
							</td>
							<td>
								<%= student_list.class_name %>
							</td>
							<td>
								<%= student_list.section_name %>
							</td>
							<th>
								<%= student_list.exam_name %>
							</th>
							<td>
							 
							 <a href="<%= appName %>/admin/Registration?registration_id='<% student_list.registration_id%>'"><button type="button" class="btn btn-dark btn-fw"><i class="mdi mdi-cloud-download"></i>Edit</button>
							 </a>
							 <a href="#" onclick="delete_record('<%student_list.registration_id%>',i,'tbl_registration','registration_id')"><button type="button" class="btn btn-danger btn-fw"><i class="mdi mdi-alert-outline"></i>Delete</button></a>	

                         	 </td>

							
						</tr>
					<% i++; })%>

						<%} %>
						 
					</tbody>
				</table>


			</div>
		</div>
   
       <%if(student_list){%>
       <div class="card-body studenttablelist" >
			<h2 class="card-title"><b><u>Student List</u></b></h2>
			<p class="card-description">
				<a href="<%= appName %>/admin/Registration"><button class="btn btn-inverse-dark btn-fw">Add Student</button></a>
				 
			</p>
			<div class="table-responsive">
				<table class="table table-bordered" id="myTable">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Registration Number
							</th>
							<th>
								Student Name
							</th>
							<th>
								Class
							</th>
							<th>
								Section
							</th>
							<th>
								Parent Name
							</th>
							<th>
								Parent Phone
							</th>
							<th>
								Action
							</th>
							
						</tr>
					</thead>
					<tbody id="liststudent">
						 
						  <%  var i=1; student_list.forEach(function(student_list){ %>
						<tr id="tr_<%= i %>">
							<td >

								<%= i %>
							</td>
							<td>
								<%= student_list.admission_number %>
							</td>
							<td>
								<%= student_list.name %>
							</td>
							<td>
								<%= student_list.class_name %>
							</td>
							<td>
								<%= student_list.section_name %>
							</td>
							<td>
								<%= student_list.parentname %>
							</td>
							<td>
								<%= student_list.parentphone %>
							</td>
							
							<td>
							 
							 <a href="<%= appName %>/admin/Registration?registration_id=<%= student_list.registration_id%>"><button type="button" class="btn btn-dark btn-fw"><i class="mdi mdi-cloud-download"></i>Edit</button>
							 </a>
							 <a href="#" onclick="delete_record('<%= student_list.registration_id %>',i,'tbl_registration','registration_id')"><button type="button" class="btn btn-danger btn-fw"><i class="mdi mdi-alert-outline"></i>Delete</button></a>	

                         	 </td>

							
						</tr>
					<% i++; })%>

						 
						 
					</tbody>
				</table>

				
			</div>
		</div>
		<% } %>

	</div>
</div>

</div>