<style type="text/css">
  .page 
{ 
   width: 24cm;
   margin: 1cm auto;
   /*border: solid 1px #d3d3d3;*/
   border-radius: 5px;
   background: white;
   /*box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);*/
}
.subpage 
{
 padding: 1.5cm 1cm 1cm;
 height: 250mm;
}

.book {

}

.book #print-content {            
    width: 100%;
}

.page {
  margin:0;
} 

#bonafideModal .modal-body {
    padding: 0;
    background-color: #fff;
}
#bonafideModal .modal-header {
    padding: 0;
    border-bottom: 1px solid #fff;
    background: #fff;
}

#bonafideModal .modal-footer {
    padding: 0;
    border-top: 1px solid #fff;
    background: #fff;
}

#bonafideModal .modal-header .close {       
    padding: 1rem;
    margin: 0rem 0rem -1rem auto;
}

.modal.my-modal-1#bonafideModal .modal-dialog {
    max-width: 54% !important;
}


</style>
 <div class="modal my-modal-1 fade" id="bonafideModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content" style="width: 820px; margin: auto; padding: 20px;background-color: #fff;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>

        </div>
        <div class="modal-body">
          <!-- <p>Some text in the modal.</p> -->

         <div class="book">
 

         </div>
        </div>
        <div class="modal-footer">
           <button type="button" class="btn btn-default" onclick="printDiv('print-content')" >Print</button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>




<div class="content-wrapper">
  <div class="row">
    <div class="col-12 stretch-card">
      <div class="card">
        <div class="card-body">
          <h1 class="card-title"><b><u>Make Student Bonafide</u></b></h1>
         <!--  <p class="card-description">
          <a href="<%= appName %>/admin/bonafideList"><button class="btn btn-inverse-dark btn-fw">Attendence List</button></a>
          </p> -->
         

           <div class="container">
             
              <% if(success!=""){ %>
              <div class="alert alert-success" id="success-alert">
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong><%= success %> </strong>
                
              </div>
                
             <% 
            } %>
            <% if(error!=""){ %>
              
               <div class="alert alert-danger" id="danger-alert">

                
                <button type="button" class="close" data-dismiss="alert">x</button>
                <strong><%= error %> </strong>
                
              </div>
           <% }  %>
          </div>

         <form class="forms-sample" method="post" action="<%= appName %>/admin/bonafide" enctype="multipart/form-data">
            <div id="attendence_student">
              <div class="form-group row">
              
                <label for="exampleInputEmail2" class="col-sm-2 col-form-label">Class Name</label>
                <div class="col-sm-2">
                 <select class="form-control" id="class_id" name="class_id">
                 	<option value="">Select Class</option>
                 	<%  class_list.forEach(function(class_list){ %>
                  <option value="<%= class_list.class_id  %>"><%= class_list.class_name; %></option>
  				        
                 	<%   }) %>
                 </select>
                </div>

                <label for="exampleInputPassword2" class="col-sm-2 col-form-label">Section Name</label>
                <div class="col-sm-2">
                 <select class="form-control" id="section_id_stop" onchange="getStudentTobonafide(this.value)();" >
                   <option>Select Section</option>
                 </select>
                </div>

              </div>
              <br><br><br>
              <div  style="display: none;" id="shiftTable">

               <div class="form-group">
                <label for="exampleInputPassword2" class="col-sm-1 col-form-label">Check All</label>
                <div class="col-sm-1">
                  <input type="checkbox" name=""  id="checkAll"> 
                </div>
               </div>

                <table class="display responsive nowrap tableshift"  style="width: 100%" >
                  <thead>
                    <tr>
                      <th>
                        #
                      </th>


                      <th>
                       Admission Number
                      </th>
                     
                      <th>
                       Sudent Name
                      </th>
                      
                      <th>
                       Certifcate
                      </th>
                      
                      <th>
                       Sample certificate
                      </th>
                      
                    </tr>
                  </thead>
                  <tbody >
                   
                  </tbody>
                </table>


              </div>
            </div>  
 
           
             
            
            <button type="submit" class="btn btn-success mr-2">Submit</button>
            <button class="btn btn-light">Cancel</button>
          </form>
           <div id="loader" style="display: none"><img src="/images/loader.gif"></div>
        </div>
      </div>
    </div>
  </div>
</div>