<div class="content-wrapper">
	<div class="row">
		<div class="col-12 grid-margin">
			<div class="card">
				<div class="card-body">
					<h2 class="card-title">Registration</h2>
					 
					<div id="teacher" style="display: block">
						<form class="form-sample" id="teacher_register" method="Post" action="<%= appName %>/admin/teacherDetail">	
						 <input type="hidden" class="form-check-input userregister" name="userregister" value=""> 
						 <input type="hidden" value="<%= teacherdata.registration_id%>" name="registration_id">
							<div class="col-md-12" align="right">
								<a href="<%= appName %>/admin/TeacherList"><span class="btn btn-primary">Teacher List</span></a>
							</div>
							<p class="card-description">
								<h3><b><u>Teacher info</u></b></h3>
							</p>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Teacher Name</label>
										<div class="col-sm-9">
											<input type="text" class="form-control" placeholder="Enter Teacher Name" name="teacher_name" id="teacher_name"value="<%= teacherdata.name  %>"  />
											<span for="teacher_name"  class="error below" style="display: none"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Gender</label>
										<div class="col-sm-9">

											<select class="form-control" name="teacher_gender" id="teacher_gender" >
												<option <% if(teacherdata.sex=="male"){  %> selected <% } %> value="male">Male</option>
												<option <% if(teacherdata.sex=="female"){  %> selected <% } %> value="female">Female</option>
											</select>
											<span for="teacher_gender"  class="error below" style="display: none"></span>
										</div>
										
									</div>
								</div>
								
								
							</div>
							
							
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Adhar Number</label>
										<div class="col-sm-9">
											<input type="text" name="teacher_adhar_no" id="teacher_adhar_no" class="form-control" placeholder="Enter Adhar Number" value="<%= teacherdata.aadhar_number  %>"  >
											<span for="teacher_adhar_no"  class="error below" style="display: none"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Date Of Birth</label>
										<div class="col-sm-9">

											<input type="text" name="teacher_dob" id="teacher_dob" class="form-control attendence_date" value="<%= teacherdata.dob  %>" >
											<span for="teacher_dob"  class="error below" style="display: none"></span>
										</div>
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Show On Website</label>
										<div class="col-sm-9">
											<select class="form-control" name="show_website" id="show_website"  >
												<option <% if(teacherdata.show_website=="yes"){  %> selected <% } %> value="yes">Yes</option>
												<option  <% if(teacherdata.show_website=="no"){  %> selected <% } %> value="no">No</option>
											</select>
											<span for="show_website"  class="error below" style="display: none"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Designation</label>
										<div class="col-sm-9">
											<input type="text" name="teacher_designation" id="teacher_designation" class="form-control" placeholder="Enter Teacher Designation" value="<%= teacherdata.designation  %>"  >
										   <span for="teacher_designation"  class="error below" style="display: none"></span>
										</div>
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Address</label>
										<div class="col-sm-9">
											<input type="text" name="teacher_address" id="teacher_address" class="form-control" placeholder="Enter Teacher Address" value="<%= teacherdata.address  %>"  >
											<span for="teacher_address"  class="error below" style="display: none"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Phone Number </label>
										<div class="col-sm-9">
											<input type="text" name="teacher_phone" id="teacher_phone" class="form-control" placeholder="Enter Teacher Phone Number" value="<%= teacherdata.phone  %>" maxlength="10" >
										    <span for="teacher_phone"  class="error below" style="display: none"></span>
										</div>
										
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Email</label>
										<div class="col-sm-9">
											<input type="email" name="teacher_email" id="teacher_email" class="form-control" placeholder="Enter Teacher Email" value="<%= teacherdata.email  %>" disabled   >
											<span for="teacher_email"  class="error below" style="display: none"></span>
										</div>
									</div>
								</div>
								<!-- <div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Password </label>
										<div class="col-sm-9">
											<input type="password" name="teacher_password" id="teacher_password" class="form-control" placeholder="Enter Teacher Passoword"  >
											<span for="teacher_password"  class="error below" style="display: none"></span>
										</div>
										
									</div>
								</div> -->
							</div>
							<p class="card-description">
								<h3><b><u>Education Qualification</u></b></h3>
							</p>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Academics</label>
										<div class="col-sm-9">
											<input type="text" name="academics" id="academics" class="form-control" placeholder="Enter Teacher academics" value="<%= teacherdata.academics  %>" >
											<span for="academics"  class="error below" style="display: none"></span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Profession</label>
										<div class="col-sm-9">

											<input type="text" name="teacher_profession" id="teacher_profession" class="form-control" placeholder="Enter Teacher profession" value="<%= teacherdata.profession  %>"  >
											<span for="teacher_profession"  class="error below" style="display: none"></span>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Staff Category</label>
										<div class="col-sm-9">
											<select class="form-control" name="staff_category" id="staff_category"  >
												<option <% if(teacherdata.staff_category=='T'){%> selected <%}%> value="T">Teaching</option>
												<option <% if(teacherdata.staff_category=='N'){%> selected <%}%> value="N">Non Teaching</option>
											</select>
											<span for="staff_category"  class="error below" style="display: none"></span>
										</div>
									</div>
								</div>
						
							</div>
							<div class="clearfix"></div>
							<br>
							<div class="row">
								<div class="col-md-5"></div>
								<div class="col-md-2">
									<div class="form-group">
										<input type="submit" id="registerbutton"  name="submit" value="submit" class="form-control btn btn-primary" >

									</div>
								</div>
								
							</div>
						</form>	
						</div>
						
				</div>
			</div>
		</div>
	</div>
</div>
 