<div class="col-lg-12 grid-margin stretch-card">
	<div class="card">
		<div class="card-body">
			<h2 class="card-title"><b><u>HomeWork List</u></b></h2>
			<p class="card-description">
				<a href="#"><button class="btn btn-inverse-dark btn-fw">HomeWork</button></a>
				
			</p>
			<div class="table-responsive">
				<table class="table table-bordered" id="myTable">
					<thead>
						<tr>
							<th>
								#
							</th>
							<th>
								Name 
							</th>
							<th>
								Class Name
							</th>	
							<th>Section Name</th>
							<th>Subject</th>
							<th>
								Task 
							</th>
							<th>
								Description 
							</th>
							<th>
								File
							</th>
							<th>Date</th>
							
							
						</tr>
					</thead>
					<tbody>
					<%  var i=1; homework.forEach(function(data){ 
						if(data.task!=''){
					%>
						<tr id="tr_<%= i %>">
							<td >

								<%= i %>
							</td>
							<td>
								<%= data.student_name %>
							</td>
							<td>
								<%= data.class_name %>
							</td>
							<td>
								<%= data.section_name %>
							</td>
							<td>
								<%= data.subject_name %>
							</td>
							
							<td>
								<%= data.task %>
							</td>
							<td>
								<%= data.description %> 
							</td>
							<td>
							<a href="../../homework_image/<%= data.file_name %>" download><button class="btn btn-primary">Download</button></a>
							
							</td>
							<td>
									<%= data.homework_date %>
							</td>
							

							
						</tr>
					<% i++; } })  %>
					</tbody>
				</table>
			</div>


					
		</div>
	</div>
</div>
