<div class="container-fluid page-body-wrapper">

<nav class="sidebar sidebar-offcanvas" id="sidebar">
        <ul class="nav">
          <% if(session.user_role==1){ %>
         <!--  <li class="nav-item nav-profile">
            <div class="nav-link">

              <div class="user-wrapper">
                <div class="profile-image">
                  
                  <img src="../../../images/faces/dummy.png" alt="profile image">

                </div>
                <div class="text-wrapper">
               
                  <p class="profile-name">ADMIN</p>
                  <div>
                    <small class="designation text-muted">admin</small>
                    <span class="status-indicator online"></span>
                  </div>
                  
                </div>
              </div>
              
            </div>
          </li> -->
         
          <li class="nav-item"> 

            <a class="nav-link" href="<%= appName %>/admin/dashboard">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>    
            </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#shift" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-account"></i>
              <span class="menu-title">Registration</span>
              <i class="menu-arrow"></i>
            </a>

            <div class="collapse" id="shift">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/Registration"> Register </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/Shiftsection">  Shift section </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/promotion">  Promotion </a>
                </li>
 
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/bulkimport"> Bulk Import</a>
                </li>
 

              </ul>
            </div>
          </li>

            
          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/bonafide">
              <i class="menu-icon mdi mdi-certificate"></i>
              <span class="menu-title">Bonafide</span>
            </a>
          </li>   

          <li class="nav-item">

            <a class="nav-link" href="<%= appName %>/admin/transport">
              <i class="menu-icon mdi mdi-airplane"></i>
              <span class="menu-title">Transport</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/dormitory">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dormitory</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#class" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-clipboard-flow"></i>
              <span class="menu-title">Class & Sections</span>
              <i class="menu-arrow"></i>
            </a>

            <div class="collapse" id="class">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/classes">  Class </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/classList"> View Class </a>
                </li> -->

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/section">  Section </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/academic_syllabus">  Academic Syllabus </a>
                </li>
                <!-- <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/sectionList"> View Section </a>
                </li>  -->               
              </ul>
            </div>
          </li>
          
          
          <li class="nav-item"> 
            <a class="nav-link" href="<%= appName %>/admin/Subject">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Subject</span>
            </a>
          </li>  

          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/AssignTeacher">
              <i class="menu-icon mdi mdi-plus-network"></i>
              <span class="menu-title">AssignTeacher</span>
            </a>
          </li>  
          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/HomeWork">
              <i class="menu-icon mdi mdi-plus-network"></i>
              <span class="menu-title">HomeWork</span>
            </a>
          </li> 
          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/classRoutine">
              <i class="menu-icon mdi mdi-plus-network"></i>
              <span class="menu-title">Class Routine</span>
            </a>
          </li> 
          <!-- <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/classRoutine">
              <i class="menu-icon mdi mdi-plus-network"></i>
              <span class="menu-title">Class Routine</span>
            </a>
          </li>
 -->
          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/attendence">
              <i class="menu-icon mdi mdi-plus-network"></i>
              <span class="menu-title">Attendence</span>
            </a>
          </li> 

          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/study_material">
              <i class="menu-icon mdi mdi-plus-network"></i>
              <span class="menu-title">Study Material</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#exam" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-clipboard-flow"></i>
              <span class="menu-title">Exam</span>
              <i class="menu-arrow"></i>
            </a>

            <div class="collapse" id="exam">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/exam">  Exam  </a>
                </li>
 
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/sheet_Formats">  Marksheet Formats</a>
                </li>
 

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/exam_schedule">  Exam  Schedule</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/exam_grades">  Exam  Grades</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/manage_marks">  Manage Marks</a>
                </li>
 
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/tabulation_sheet">  Tabulation Sheet</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/QuestionPaper">  Question Paper</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/sendmarks">  Send SMS Marks </a>
                </li>


              </ul>
            </div>
          </li>   

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#accounting" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-clipboard-flow"></i>
              <span class="menu-title">Accounting</span>
              <i class="menu-arrow"></i>
            </a>

            <div class="collapse" id="accounting">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/accounting_fee_type"> Fee Type  </a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/accounting_term">  Fee Term</a>
                </li>

                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/fee_structure">  Fee Structure</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/student_payment">  Student Payment</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/payment_report">  Payment Report</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="<%= appName %>/admin/manage_payment">  Manage Payment</a>
                </li>

              </ul>
            </div>
          </li>   
          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/sendmessage">
              <i class="menu-icon mdi  mdi-account"></i>
              <span class="menu-title">Message</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/setting">
              <i class="menu-icon mdi  mdi-settings"></i>
              <span class="menu-title">Settings</span>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="<%= appName %>/admin/website">
              <i class="menu-icon mdi  mdi-settings"></i>
              <span class="menu-title">Website</span>
            </a>
          </li>
          
   
          <% }else if(session.user_role==2){ %>
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="images/faces/dummy.png" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Parent</p>
                  <div>
                    <small class="designation text-muted">parent</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
             
            </div>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="/parent/dashboard">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/parent/student_information">
              <i class="menu-icon mdi  mdi-account"></i>
              <span class="menu-title">Student Information</span>
               
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/parent/homework">
              <i class="menu-icon mdi  mdi-library-books"></i>
              <span class="menu-title">Home Work</span>
                
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/parent/teacher_list">
              <i class="menu-icon mdi  mdi-account"></i>
              <span class="menu-title">Teacher</span>
              
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/parent/accademic_syllabus">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Academic Syllabus</span>
                <i class="menu-arrow"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/parent/question_paper">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Question Paper</span>
                <i class="menu-arrow"></i>
            </a>
          </li>

          
          <li class="nav-item">
            <a class="nav-link" href="/parent/class_routine">
              <i class="menu-icon mdi  mdi-recycle"></i>
              <span class="menu-title">Class Routine</span>
                <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/parent/study_material/">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Study Material</span>
               
            </a>
          </li>

        

           <li class="nav-item">

            <a class="nav-link" href="/parent/attendence/">
              <i class="menu-icon mdi  mdi-file-document-box"></i>
              <span class="menu-title">Student Attendence</span>
                <i class="menu-arrow"></i>
            </a>
          </li>

            <li class="nav-item">
            <a class="nav-link" href="/parent/exam_marks">
              <i class="menu-icon mdi  mdi-file-document-box"></i>
              <span class="menu-title">Exam Marks</span>
                <i class="menu-arrow"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/parent/transport">
              <i class="menu-icon mdi  mdi-clipboard-text"></i>
              <span class="menu-title">Transport</span>
               
            </a>
          </li>
        
          <li class="nav-item">
            <a class="nav-link" href="/parent/Payment">
              <i class="menu-icon mdi  mdi-clipboard-text"></i>
              <span class="menu-title">Payment</span>
               
            </a>
          </li>
         
         
          
          <li class="nav-item">
            <a class="nav-link" href="/parent/account/">
              <i class="menu-icon mdi mdi-account"></i>
              <span class="menu-title">Account</span>
               
            </a>
          </li>
          <% }else if(session.user_role==3){ %>
             <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="images/faces/dummy.png" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Student</p>
                  <div>
                    <small class="designation text-muted">student</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
              </div>
              </li>
          <li class="nav-item">

            <a class="nav-link" href="/student/dashboard">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/student/teacher_list">
              <i class="menu-icon mdi  mdi-account"></i>
              <span class="menu-title">Teacher</span>
                <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student/subject_list">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Subject</span>
                <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student/class_routine">
              <i class="menu-icon mdi  mdi-recycle"></i>
              <span class="menu-title">Class Routine</span>
                <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/student/study_material">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Study Material</span>
               
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/student/accademic_syllabus">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Academic Syllabus</span>
               
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/student/homework">
              <i class="menu-icon mdi  mdi-library-books"></i>
              <span class="menu-title">Home Work</span>
                
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="/student/exam_marks">
              <i class="menu-icon mdi  mdi-file-document-box"></i>
              <span class="menu-title">Exam Marks</span>
                <i class="menu-arrow"></i>
            </a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="/student/payment">
              <i class="menu-icon mdi  mdi-clipboard-text"></i>
              <span class="menu-title">Payment</span>
               
            </a>
          </li>

         
         
          
          <li class="nav-item">
            <a class="nav-link" href="/student/account">
              <i class="menu-icon mdi mdi-account"></i>
              <span class="menu-title">Account</span>
               
            </a>
          </li>
         

          <% }else if(session.user_role==4){ %>
          <li class="nav-item nav-profile">
            <div class="nav-link">
              <div class="user-wrapper">
                <div class="profile-image">
                  <img src="images/faces/dummy.png" alt="profile image">
                </div>
                <div class="text-wrapper">
                  <p class="profile-name">Teacher</p>
                  <div>
                    <small class="designation text-muted">teacher</small>
                    <span class="status-indicator online"></span>
                  </div>
                </div>
              </div>
             
            </div>
          </li>
          <li class="nav-item">

            <a class="nav-link" href="/teacher/dashboard">
              <i class="menu-icon mdi mdi-television"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
         
          <li class="nav-item">
            <a class="nav-link" href="/teacher/studentlist"">
              <i class="menu-icon mdi  mdi-account"></i>
              <span class="menu-title">Student</span>
                <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/subjectList">
              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Subject</span>
                <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/classroutineList">
              <i class="menu-icon mdi  mdi-recycle"></i>
              <span class="menu-title">Class Routine</span>
                <i class="menu-arrow"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/study_material">

              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Study Material</span>
               
            </a>
          </li>

          <li class="nav-item">

            <a class="nav-link" href="/teacher/academic_syllabus">

              <i class="menu-icon mdi mdi-library-books"></i>
              <span class="menu-title">Academic Syllabus</span>
               
            </a>
          </li>

           <li class="nav-item">

            <a class="nav-link" href="/teacher/attendance"> 

              <i class="menu-icon mdi  mdi-file-document-box"></i>
              <span class="menu-title">Daily Attendence</span>
                <i class="menu-arrow"></i>
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#exam" aria-expanded="false" aria-controls="auth">
              <i class="menu-icon mdi mdi-clipboard-flow"></i>
              <span class="menu-title">Exam</span>
              <i class="menu-arrow"></i>
            </a>

            <div class="collapse" id="exam">
              <ul class="nav flex-column sub-menu">

                <li class="nav-item">
                  <a class="nav-link" href="/teacher/manage_marks">  Manage Marks</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="/teacher/QuestionPaper">  Question Paper</a>
                </li>
              </ul>
            </div>
          </li>  

          <li class="nav-item">
            <a class="nav-link" href="/teacher/account">
              <i class="menu-icon mdi  mdi-settings"></i>
              <span class="menu-title">Account</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/teacher/homemwork">
              <i class="menu-icon mdi  mdi-settings"></i>
              <span class="menu-title">Homework</span>
            </a>
          </li>

          <% } %>
        </ul>
</nav>
<div class="main-panel">

